run_mcmc.py
run_sampler_zeus.py
posterior_samplers/__pycache__/
posterior_samplers/Patchy_CMASS_DR12.py*
posterior_samplers/CMASS_DR12.py*
parameters/__pycache__/
.ipynb_checkpoints/
chains/*
md-box_data/
old_BOSS_DR12_CMASS_data/
parameters/md-box*
utilities/__pycache__/
code_development.ipynb
