run_mcmc.py
run_sampler_zeus.py
likelihoods/__pycache__/
models/__pycache__/
parameter_files/__pycache__/
tools/__pycache__/
.ipynb_checkpoints/
chains/*
DR12_mocks/
Flagship_data/
md-box_data/
Quijote_data/
old_BOSS_DR12_CMASS_data/
cobaya_inputs/flagship*.yaml
cobaya_inputs/patchy*
cobaya_inputs/nseries*
code_development.ipynb
void-velocity.ipynb
make_figures.ipynb
