**/__pycache__
**/pytest_cache
**/*.egg
**/*.egg-info
**/.cache
**/.config
**/.wget*
**/dist
**/eggs
**/chains
**/build
**/_build
**/.DS_Store
**/.ipynb_checkpoints
**/data/private
**/notebooks/development_workbook.ipynb

# Unit test / coverage reports
**/.coverage
